body{
    padding-top: 90px;
    font-family: Georgia, serif;
    line-height: 1.6;
    background-color: #ffffff;
    text-align: center;
}
.shedule{
    background-color: #fffdd0;
}
.contact{
    background-color: #fffdd0;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav :hover{
    color: red;
    text-decoration: underline;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    font-style: italic;
}